*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}


/* nav */
nav{
    display: flex;
    align-items: center;
     justify-content: space-around;
    padding: 25px;
}

    
.nav-links{
     display: flex;
    gap: 35px;

}
a{
    text-decoration: none;
    color: grey;
    position: relative;
}
   



.nav-links a::after {
    content: "";
    display: block;
    background-color:#ce1212;
    height: 3px;
    width: 0;
    transition: 0.3s;
    position: absolute;
    bottom: -10px;
    left: 0;
}

.nav-links a:hover::after {
    width: 100%;
}

.nav-btn {
    background-color:#ce1212;
    padding: 15px 25px;
    border: none;
    border-radius: 20px;
    color: white;
}

.nav-btn:hover {
    background-color: #ce1212;
    cursor: pointer;
}

.menu1 {
    display: none;
}

.close1 {
    display: none;
}



/* hero */

.section1 {
    
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    padding-top: 16vh;
    padding-bottom: 35px;
    justify-content: space-between;
    padding-inline: 70px;
}

.left-sec1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.left-sec1 h1 {
    line-height: 53px;
    font-size: 50px;
    font-family: Ink Free;

}

.left-sec1 p {
    line-height: 24px;
    color: grey;
}

.left-sec1 #myBtn {
    background-color: #ce1212;
   padding: 15px 25px;
    border: none;
    border-radius: 20px;
    color: white;

}
.video{
  width: 25vw;
  height: 30vh;
}

.left-sec1 #myBtn:hover {
    background-color: #ce1212;
    cursor: pointer;
}


.bottom-sec1 {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-top: 20px;
}

.bottom-sec1 a {
    text-decoration: none;
    color: black;
    
}

.bottom-sec1 a:hover {
    color: #ce1212;
  
}

.bottom-sec1 .live-1 {
    display: flex;
    align-items: center;
    gap: 5px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.4);
}
.modal-inside{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 5px;
   
}
.modal-content {
    background-color: #ffffff;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 20px;
    width: 40%;
    height: 30vh;
}
.text-center{
    text-align: center;
    padding-bottom: 50px;
}
.close {
   
    color: #aaaaaa;
    float: right;
    font-size: 30px;
    font-weight: bold;
    
}

.close:hover,.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.inpt {
    width: 40%;
    padding: 10px 14px;
    position: relative;
    left: 30%;
    border: none;
    border-radius: 25px;
    background-color: #ffd7d7;
    
}

.btnmodal {
    width: 20%;
    position: relative;
    left: 40%;
    border: none;
    background: red;
    padding: 7px 0px;
    border-radius: 20px;
}


/* section1 */

.head-sec{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px;

}
.head-sec p{
    font-family: Ink Free;
}
.head-sec h1{
    font-family: Ink Free;
  font-size: xx-large;
}
.head-sec span{
    color: #ce1212;
}

.sec-about {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.info-about {
    border: 3px solid grey;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 6px;
}
.info-about p{
    font-size: xx-large;
}
.info-about>h1{
    color: #ce1212;
}

.left-content-about {
    display: flex;
    flex-direction: column;
    gap: 14px;
    /* padding-inline-start: 10px; */
}

.right-about {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.icons-about {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.fa-solid{
    color: #ce1212;
}

.right-about .text-secondary {
    color: grey;
}

.imgbout {
    width: 560px;
}

.title-about p {
    color: grey;
}

.title-about h1 {
    font-family: statit;
}

.title-about span {
    color: red;
    font-family: statit;
}




/* section3 */



.section3 {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    gap: 5px;
    padding-inline: 20px;
    background-color: #f2f2f2;
    padding-bottom: 25px;
}

.section3 .cards-sec3 {
    display: flex;
    justify-content: center;
    gap: 40px;
   
    
}

.section3 .cards-sec3 .card-sec3 {
    background-color: white;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    gap: 30px;
    box-shadow: 0 7px 8px 0 rgba(0, 0, 0, 0.19);
    align-items: center;
    width: 300px;
    height: 40vh;
    justify-content: center;
}

.section3 .cards-sec3 .card-sec3 h4 {
    text-align: center;
}

.section3 .cards-sec3 .card-sec3 p {
    text-align: center;
    color: grey;
}

.section3 .cards-sec3 .card-sec3 .icon {
    background-color: #ce121220;
    font-size: 2.5vw;
    padding: 10px 10px;
    border-radius: 50%;
    color: #ce1212;
}

.section3 .cards-sec3 .card-sec3 .icon:hover {
    background-color: #ce1212;
    color: white;
}

.cards-sec3 .card-sec4 {
    background-color: red;
    padding: 25px;
    height: 35vh;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 350px;
}

.cards-sec3 .card-sec4 h5 {
    color: white;
    font-size: 30px;
}

.cards-sec3 .card-sec4 p {
    color: white;
    line-height: 25px;
}

.cards-sec3 .card-sec4 button {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 22%;
    color: white;
    border-radius: 20px;
    border: none;
    padding: 10px 0px;
    background-color: #ce1212;
    font-weight: bold;
}

.cards-sec3 .card-sec4 button:hover {
    background-color: white;
    color: #ce1212;
    cursor: pointer;
}



/* section backgraound image  */



/* .section4 {
    background-image: url("../images/stats-bg.jpg");
   
    background-size: cover;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
} */

.stats {
  position: relative;
  background-image: url(../images/stats-bg.jpg);
  background-size: cover;
  height: 400px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
  font-size: x-large;
}

.stats::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:black;
  opacity: 0.5;
}

.stats .stat-div {
  position: relative;
  display: flex;
  flex-direction: column;
}

.stats .stat-div span:first-child {
  font-size: 40px;
  font-weight: bold;
  color: white;
}
.stats .stat-div span:last-child {
  font-size: 25px;
  
  color:#c5c1bd;
}


/* menu */




.ourMenu {
  padding: 0 50px 60px;
  text-align: center;
}

.ourMenu .ourMenu-header {
  padding-bottom: 50px;
}

.ourMenu .ourMenu-header span {
  text-transform: uppercase;
  color: #ccc;
}

.ourMenu .ourMenu-header h1 {
  color:black;
  font-family: Ink Free;
  font-weight: 300;
}

.ourMenu .ourMenu-header h1 span {
  color:  #ce1212;
  font-family: Ink Free;
}

.ourMenu .pageTitles {
  display: inline-flex;
  gap: 30px;
}

.ourMenu .pageTitles .title {
  font-size: 18px;
  color:black;
  padding-bottom: 10px;
  border-bottom: 2px solid #aaa;
  border-radius: 2px;
  cursor: pointer;
  transition: .3s;
}

.ourMenu .pageTitles .title.active {
  border-color: #ce1212;
}

.ourMenu .pageTitles .title:hover {
  border-color:  #ce1212;
}

.ourMenu .ourMenu-body-top {
  padding-top: 60px;
  padding-bottom: 30px;
}


.ourMenu .ourMenu-body-top span {
  color: #aaa;
}

.ourMenu .ourMenu-body-top h1 {
  font-family: myFont;
  color:  #ce1212;
}

.ourMenu .ourMenu-body {
  display: none;
  transition: 1s;
}

.ourMenu .ourMenu-body.active {
  display: block;
}

.ourMenu .ourMenu-body .first-row,
.ourMenu .ourMenu-body .second-row {
  display: flex;
  gap: 20px;
  justify-content: space-around;

}

.ourMenu .ourMenu-body .first-row {
  margin-bottom: 40px;
}

.ourMenu .ourMenu-body .ourMenu-plates img {
  width: 300px;
  padding-bottom: 15px;
}

.ourMenu .ourMenu-body .ourMenu-plates h3 {
  font-size: 25px;
  font-weight: 300;
  padding-bottom: 10px;
}

.ourMenu .ourMenu-body .ourMenu-plates p {
  color: #aaa;
  font-size: 17px;
  padding-bottom: 10px;
}

.ourMenu .ourMenu-body .ourMenu-plates span {
  color:  #ce1212;
  font-size: 25px;
  font-weight: bold;
}




/* TESTIMONIALS */




.carousel-container {
  /* width: 40vw; */
  /* height: 60vh; */
  background: #f2f2f2;
  position: relative;
  overflow: hidden;
  padding: 50px;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding-top: 40px;
}

.slide img {
  width: 15%;
  border-radius: 50%;
}

.next,
.previous {
  padding: 1vh 2vw;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  background-color: #ce1212;
  color: white;
  border: none;
}

.next {
  right: 0;
}

.previous {
  left: 0;
}

.indicators-grp {
  width: 100%;
  padding: 2vh 0;
  padding-top: 30px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.fa-star{
    color:#ffc107;
}

.indicator {
  padding: 7px;
  background: grey;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s ease;
}

.indicator:hover {
  background: #999;
}

.activeIndicator {
  background-color: #ce1212;
}

.left-slide {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-left: #ce1212 3px solid;
}

.left-slide p {
  line-height: 23px;
}

.p1 {
  text-align: center;
  font-size: 15px;
}

.h1 {
  text-align: center;
  padding-top: 20px;
  font-family: Ink Free;
}

span {
  color:  #ce1212;
  font-family: Ink Free;
}


/* chefs */





.info {
  padding-top: 20px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-bottom: 30px;
}

.info p {

  text-align: center;
  font-size: 13px;
  line-height: 22px;
  padding-inline-start: 15px;
  
}

.work {
    color: #aaa;
    
}
.to-top{
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 1rem;
    padding: 10px;
    width: 30px;
    height: 30px;
    background-color: #ce1212;
    color: white;
    border-radius: 50%;
    display: flex !important;
    align-items: center;
    justify-content: center;
    margin: 1vw;
}

.card-chef {
  align-items: center;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
  padding: 20px;
  border-radius: 10px;
}

.card-chef:hover {
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.3);
}

.all-cards {
  display: flex;
  padding-inline: 5vw;
  gap: 30px;
  padding-top: 35px;
  /* flex-wrap: wrap; */
  justify-content: center;

}

.chefs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: 40px;
}

.title-chef {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 13px;
}

.title-chef h1 {
  font-family: Ink Free;
  font-size: 25px;
}




/* Book A Table */





.section5 {
    display: flex;
    background: #f8f8f8;
    align-items: center;
    justify-content: center;
    padding-inline: 40px;
    gap: 30px;
    padding-top: 20vh;
}

.section5 button {
    width: 25%;
    position: relative;
    left: 40%;
    border: none;
    background: #ce1212;
    padding: 20px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}

.section5 button:hover {
    background: #ce12128b;
}

.content-sec5 {
    width: 60%;
    height: 80%;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.user-info{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.all-input {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 600px;
   border-radius: 20%;
}
.form-width{
    width:40vw;
    height: 15vh;
}

.all-input input {
    width: 30%;
    padding: 6px;
}


.img-sec5 {
    width: 40vh;
}




/* gallery */

.gallery-title {
  color: #aaa;
  margin-top: 40px;
  text-align: center;
}

.gallery-header {
      font-family: Ink Free;

  color: #223344;
  text-align: center;
  
  margin-bottom: 30px;
}
.gallery-header span {
  color: #ce1212;
  letter-spacing: 2px;
}

.carouseel-container {
  display: flex;
  justify-content: center;
  align-items: center;
}



.carouseel {
  display: flex;
  overflow: hidden;
  width: 800px;
  height: 250px;
  align-items: center;
  justify-content: center;
}

.carouseel-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: 0 10px;
  border: 5px solid transparent;
  transition: border 0.3s;
 
}

.carouseel-img.active {
  border: 5px solid #d33;
 
}

.dots {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: #ccc;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.dot.active {
  background: #d33;
}



/* maps */


.mapscontact{
    width: 100%;
    display: flex;
    justify-content: center;
}
.map{
    width: 60%;
}
.info_contact{
    padding-top: 10px;
}

.contact-container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 40px 20px;
}

.info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 40px;
}

.info-box {
  display: flex;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  align-items: center;
}

.info-box .icon {
  
  color: white;
  font-size: 44px;
  padding: 15px;
  border-radius: 50%;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}



.contact-form {
  background: #fff;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.contact-form .form-row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}
.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  
  border-radius: 2px;
 
}

.contact-form textarea {
  height: 150px;
  margin-bottom: 20px;
}

.contact-form button {
  background: #ce1212;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 30px;

  display: block;
  margin: 0 auto;
  
}

.contact-form button:hover {
  background: #ce12128b;
}


/* footer  */





.footer {
  background-color:#1f1f24;
  color: #fff;
  margin-top: 10px;
  padding: 20px;
  
}

.container {
  width: 80%;
  margin: 0 auto;
  padding-top: 30px;
}
.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex: 1;
  padding: 15px;
  margin-bottom: 20px;
}


.address h4,.footer h4 {
  font-size: 18px;
  margin-bottom: 10px;
}



.social-links {
  display: flex;
  gap: 15px;
}

.social-links a {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}

.social-links a:hover {
  color: #dc3545;
}

.credits {
  margin-top: 10px;
}
.credits a {
  color: #dc3545;
  text-decoration: none;
}


.credits a:hover {
  text-decoration: underline;
}

.copyright {
  text-align: center;
  border-top: 1px solid #444;
  padding-top: 10px;
}



/* responsive */



@media (max-width: 430px) {
  .nav-links {
    position: fixed;
    top: 12%;
    right: 20px;
    left: 20px;
    bottom: 10%;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.959);
    align-items: start;
    padding-left: 20px;
    gap: 20px;
    display: none;
    border-radius: 20px;
  }

  .menu1 {
    display: flex;
    color: red;
  }

  .close1 {
    display: flex;
  }

  .menu-close {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .nav {
    display: none;
  }

  
  .section1 {
  
    padding-inline: 20px;
    flex-direction: column-reverse;
    
  }

  .left-sec1 h1 {
    font-size: 30px;
    line-height: 38px;
  }
  .fimg{
    width: 90%;
  }
  .left-sec1 p {
    font-size: 14px;
  }

  .video {
    display: none;
  }

  .bottom-sec1 {
    flex-direction: column;
    gap: 10px;
  }
  .modal-content {
    width: 90%;
    height: auto;
  }
  .inpt, .btnmodal {
    width: 80%;
    left: 10%;
  }

  .sec-about {
    flex-direction: column;
    gap: 20px;
    
  }



  .imgbout {
    width: 100%;
  }
  .info-about{
    width: 90%;
  }
  
  .section3 .cards-sec3 {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
 

  .section3 .cards-sec3 .card-sec3,
  .cards-sec3 .card-sec4 {
    width: 90%;
    height: auto;
   font-size:25px;
  }
  .section5 {
    flex-direction: column;
    
    gap: 20px;
    padding-top: 10vh;
  }

  .content-sec5, .form-width {
    width: 100%;
  }
  .all-input {
    flex-direction: column;
    width: 100%;
  }

  .all-input input {
    width: 65vw;
    height: 5vh;
  }

  .section5 button {
    width: 80%;
    left: 10%;
  }

  .img-sec5 {
    width: 80%;
  }
  .ourMenu .ourMenu-body .first-row,
  .ourMenu .ourMenu-body .second-row {
    flex-direction: column;
    align-items: center;
  }

  .ourMenu .ourMenu-body .ourMenu-plates img {
    width: 90%;
  }

  .slide {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }

  .slide img {
    width: 30%;
  }
  .next,
  .previous {
    padding: 10px;
    font-size: 14px;
  }

  .all-cards {
    flex-direction: column;
  
  }

  .carouseel {
    width: 100%;
    height: auto;
    flex-wrap: wrap;
  }
  .carouseel-img {
    width: 80px;
    height: 80px;
    margin: 5px;
  }

  .map {
    width: 90%;
  }
}







   

